package $!{param.packageName};

import com.google.cloud.bigquery.Field;

import static com.google.cloud.bigquery.Field.Mode.*;
import static com.google.cloud.bigquery.LegacySQLTypeName.*;

/**
 * $!{param.classComment}
 */
// TODO: JavaDoc!
public class $!{param.className} extends $!{param.superClassName} {
#foreach( ${field} in ${param.fields} )
	/**
	 * $!{field.bigqueryJapaneseName}
	 *
	 * <p>$!{field.bigqueryJapaneseComment}</p>
	 */
	private static final Field $!{field.fieldName} = createField("$!{field.bigqueryColumnName}", $!{field.bigqueryType}, $!{field.bigqueryMode}, "$!{field.bigqueryJapaneseName}");

#end##foreach
	public $!{param.className}() {
	}

	public Field[] values() {
		return new Field[]{
#foreach( ${field} in ${param.fields} )
				this.$!{field.fieldName}#if( ${foreach.count} != 1 ),#end##if
#end##foreach
		};
	}

}